<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Room Pricing</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style/index.css" />
  </head>
  <body>
    <p class="text-center mb-8 text-lg font-semibold text-white">
      Room Pricing
    </p>
    <div class="grid gap-4 grid-cols-1 md:grid-cols-2 max-w-4xl mx-auto">
      <div class="card">
        <img
          src="/assets/lines.png"
          class="absolute w-[50%] h-auto bottom-4 right-4"
        />
        <div class="h-40 w-40 rounded-full bg-amber-800 blur-3xl absolute -top-32 -left-32"></div>
        <p class="card__text">Predict Existing Property</p>
        <a href="/predict" class="card__a">Open</a>
        </div>
        <div class="card">
        <img
          src="/assets/lines.png"
          class="absolute w-[50%] h-auto top-8 right-0 -rotate-90"
        />
        <div class="h-40 w-40 rounded-full bg-indigo-800 blur-3xl absolute -bottom-24 -right-24"></div>
        <p class="card__text">Predict New Property</p>
        <a href="/predict/new" class="card__a">Open</a>
      </div?>
    </div>
  </body>
</html>
